html, body {
  margin: 0;
  padding: 0;
}

html {
  background: #fff;
}

body {
  font-size: 16px;
}

.page {
  color: #444;
  font: 200 1em/1.3 BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
  padding-bottom: 8em;
}

h1, h2, h3, h4 {
  font-weight: 200;
  margin-bottom: .5em;
  margin-top: 1.1em;
}

h1 {
  font-size: 5em;
  line-height: 1.1;
}

h2 {
  font-size: 2.6em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.2em;
}

pre {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  font: 200 1em/1.4 "Courier New", Courier, monospace;
  margin: 1.5em 0;
  overflow: auto;
  padding: 1em .5em;
}

code {
  font: 200 1em/1.2 "Courier New", Courier, monospace;
  vertical-align: top;
}

blockquote {
  border-left: 1px solid #ddd;
  color: #777;
  margin: 1em;
  padding: .3em 0 .3em 1em;
}

a {
  color: #666;
}

a:hover, a:focus {
  color: #777;
  text-decoration: none;
}

strong {
  font-weight: 500;
}

.skip {
  color: transparent;
  display: inline-block;
  margin: .2em;
  padding: .2em;
}

header, main {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 686px;
  padding: 0 2em;
}

header {
  padding-bottom: 10em;
  padding-top: 9em;
  text-align: center;
}

header small {
  display: block;
  font-size: 16px;
  line-height: 20px;
}

nav li {
  margin-top: .4em;
}

nav ol {
  list-style: disc;
}

nav ol ol {
  list-style: circle;
  padding-left: 2em;
}

@media (max-width: 767px) {
  .page {
    color: #666;
    font-weight: 400;
  }

  h1, h2, h3, h4 {
    color: #555;
    font-weight: 300;
  }

  strong {
    font-weight: 600;
  }

  pre, code {
    font-weight: 400;
  }
}